.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.user {
  width: 50%;
}

.requestContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 24%;
  margin: 0.5rem 0.1rem;
}
