.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.subContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
